body{
	background-image:url(http://res.cloudinary.com/daj3wllne/image/upload/c_scale,w_1920/v1460741476/453_pjbtwa.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
  	-o-background-size: cover;
	 background-size: cover;
	margin:0;
	padding:0;
	font-family:Oxygen;
	}
#navcontainer{
	width:200%;
	height:20px;
	}
#hiddennav{
	width:50%;
	float:left;
	height:20px;
	}
nav{
	background-color:#484848;
	width:50%;
	float:left;
	height:20px;
	}
nav ul{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
	font-size:18px;
	color:#989898;
	}
a:link{ color:#fff;	text-decoration:none;}
a:visited{ color:#fff;text-decoration:none;	}
a:hover{ color:#484848;text-decoration:none;	}
a:active{ color:#fff;text-decoration:none;	}
nav ul li{
	margin:0;
	padding:0;
	float:right;
	margin-right:20px;
	}
#section1{
	background-color:#2E2E2E;
	}
#section2{
	background-color:#131313;
	}
#section3{
	background-color:#000000;
	}
.container{
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	}
.stripe{
	width:100%;
	height:300px;
	/*background-color:#368194;*/
	margin:0;
	padding:0;
	float:left;
	opacity:0.5;
	-webkit-transition-property: margin; /* Safari */
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-property: margin;
    transition-duration: 1.5s;
	text-align:center;
	}

.outstripe{
	width:100%;
	height:300px;
	background-color:#EF9E60;
	margin:0px 0px 0px 100% ;
	padding:0;
	position:absolute;
	float:left;
	-webkit-transition-property: margin; /* Safari */
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-property: margin;
    transition-duration: 1.5s;
	}
.ghostbutton{
	color: #b9b9b9;
	margin: auto;
	padding: 0;
	position: absolute;
	width: 300px;
	height: 36px;
	margin-top: 120px;
	font-size: 30px;
	margin-left: 40%;
	border: 2px solid #B9B9B9;
	text-align: center;
	float:left;
	display:block;
	-webkit-transition-property: display; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: display;
    transition-duration: 1s;
	}
.triangle{
	width:0px;
	height:0px;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	border-left:0px solid transparent;
	border-right:40px solid #D7D7D7;
	}
.ghostbutton_back{
	margin:0;
	padding:0;
	margin-left:96%;
	margin-top:120px;
	display:none;
	float:left;
	-webkit-transition-property: display; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: display;
    transition-duration: 1s;
	}
.clear{clear:both;}
.title{
	margin:0;
	padding:0;
	color:#000;
	font-size:20px;
	margin-left:20px;
}
.sitescontainer{
	margin:0;
	padding:0;
	color:#484848;
	font-size:16px;
	margin:10px 20px;
}
.sites{
	margin:0;
	padding:2px 4px;
	display:inline-block;
	border:1px solid #fff;	
}
