body{
	background-image:url(http://res.cloudinary.com/daj3wllne/image/upload/c_scale,w_1920/v1460741476/453_pjbtwa.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
  	-o-background-size: cover;
	 background-size: cover;
	margin:0;
	padding:0;
	font-family:Oxygen;
	}
#navcontainer{
	width:200%;
	height:40px;
	}
#hiddennav{
	width:50%;
	float:left;
	height:100%;
	}
nav{
	background-color:#333333;
	width:50%;
	float:left;
	height:100%;
	}
nav ul{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
	line-height:40px;
	font-size:18px;
	color:#989898;
	}
#logo{
	height:40px;
	width:100px;
	float:left;
	margin:0;
	padding:0;
	z-index:2;
	margin-left:20px;
	}	
a:link{ color:#fff;	text-decoration:none;}
a:visited{ color:#fff;text-decoration:none;	}
a:hover{ color:#484848;text-decoration:none;	}
a:active{ color:#fff;text-decoration:none;	}
nav ul li{
	margin:0;
	padding:0;
	float:right;
	margin-right:20px;
	}
#section1{
	background-color:#2E2E2E;
	}
#section2{
	background-color:#131313;
	}
#section3{
	background-color:#000000;
	}
.container{
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	}
.stripe{
	width:100%;
	height:300px;
	/*background-color:#368194;*/
	margin:0;
	padding:0;
	float:left;
	opacity:0.5;
	-webkit-transition-property: margin; /* Safari */
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-property: margin;
    transition-duration: 1.5s;
	text-align:center;
	font-family:Oxygen;
    position: relative;
	}

.outstripe{
	width:90%;
	height:300px;
	background-color:rgba(44, 62, 121, 0.82);
	margin:0px 0px 0px 100% ;
	padding:0;
	position:absolute;
	float:left;
	-webkit-transition-property: margin; /* Safari */
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-property: margin;
    transition-duration: 1.5s;
    font-family:Oxygen;
	
	}
.ghostbutton{
	color: #b9b9b9;
	margin-top: 120px;
    margin-left: 35%;
	padding: 5px;
	position: absolute;
	width: 400px;
	height: 36px;
	font-size: 30px;
	border: 2px solid #B9B9B9;
	text-align: center;
	display:block;
	-webkit-transition-property: display; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: display;
    transition-duration: 1s;
	}
.trianglebutton{
	width:0px;
	height:0px;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	border-left:0px solid transparent;
	border-right:40px solid #D7D7D7;
	}
.ghostbutton_back{
	margin:0;
	padding:0;
	margin-left:96%;
	margin-top:120px;
	display:none;
	float:left;
	-webkit-transition-property: display; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: display;
    transition-duration: 1s;
	}
.clear{clear:both;}
.title{
	margin:0;
	padding:0;
	color:#fff;
	font-size:20px;
	margin-left:20px;
}
.sitescontainer{
	margin:0;
	padding:0;
	color:#484848;
	font-size:16px;
	margin:10px 20px;
}
.sites{
	margin:5px 2px 5px 2px;
	padding:2px 4px;
	display:inline-block;
	border:1px solid rgba(152, 152, 152, 0.65);	
    color: rgba(199, 199, 199, 0.76);
}
.t{
	width:100%;
	height:1000px;
	padding:0;
	margin:0;
	position:relative;
	background:#FFFFFF;
	float:left;	
	z-index:3;
	transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
	display:none;
	}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
    

.t div{
    position:absolute;
    top:0; left:0;
    
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
	z-index:20;
}

.t .wrap{
    top:50%; left:50%;
	position:absolute;
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
}

.t .wrap .triangle {
    position:relative;
    width: 200px;
    height: 173px;
    background-color: #0079c5;
    cursor:pointer;
    z-index:1;
}
.t .wrap .mask{
    width:100%;
    height:115.5%;
    background-color: #fff;
    left:100%;
    z-index:2;
    
    -ms-transform: skewX(-30deg) rotate(30deg);
    -webkit-transform: skewX(-30deg) rotate(30deg);
    transform: skewX(-30deg) rotate(30deg);
} 

.t .wrap .triangle:hover{
    background-color: #009cff;
    
    transform:  translate(10%, 10%);
    -webkit-transform: translate(10%, 10%);
    -moz-transform: translate(10%, 10%);
}

.t .triangle:hover + .mask{
    -ms-transform: skewX(-30deg) rotate(30deg) translate(17.5%, 0);
    -webkit-transform: skewX(-30deg) rotate(30deg) translate(17.5%, 0);
    transform: skewX(-30deg) rotate(30deg) translate(17.5%, 0);
}

.t > div:nth-child(2){
    -ms-transform: rotate(60deg) skewX(30deg);
    -webkit-transform: rotate(60deg) skewX(30deg);
    transform: rotate(60deg) skewX(30deg);
}
.t > div:nth-child(3){
    -ms-transform: rotate(120deg) skewX(30deg);
    -webkit-transform: rotate(120deg) skewX(30deg);
    transform: rotate(120deg) skewX(30deg);
}

.t > div:nth-child(4){
    -ms-transform: rotate(-60deg) skewX(30deg);
    -webkit-transform: rotate(-60deg) skewX(30deg);
    transform: rotate(-60deg) skewX(30deg);
}
.t > div:nth-child(5){
    -ms-transform: rotate(-120deg) skewX(30deg);
    -webkit-transform: rotate(-120deg) skewX(30deg);
    transform: rotate(-120deg) skewX(30deg);
}
.t > div:nth-child(6){
    -ms-transform: rotate(-180deg) skewX(30deg);
    -webkit-transform: rotate(-180deg) skewX(30deg);
    transform: rotate(-180deg) skewX(30deg);
}
#selflogo{
	top:25%; left:13%;
	position:absolute;
	z-index:2;
	-ms-transform: skewX(-30deg) ;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
	}
#belogo{
	top:10%; left:40%;
	position:absolute;
	z-index:2;
	-ms-transform: skewX(-30deg) rotate(60deg);
    -webkit-transform: skewX(-30deg) rotate(60deg);
    transform: skewX(-30deg) rotate(60deg);
	}
#twitterlogo{
	top:50%; left:10%;
	position:absolute;
	z-index:2;
	-ms-transform: skewX(-30deg) rotate(-90deg);
    -webkit-transform: skewX(-30deg) rotate(-90deg);
    transform: skewX(-30deg) rotate(-90deg);
	}
#collection{
	top:50%; left:10%;
	position:absolute;
	z-index:2;
	-ms-transform: skewX(-30deg) rotate(-60deg);
    -webkit-transform: skewX(-30deg) rotate(-60deg);
    transform: skewX(-30deg) rotate(-60deg);
	font-size:30px;
	}
#collection a:link,a:hover,a:active,a:visited{
	color:#fff;
	text-decoration:none;
	}
#mail{
	top:20%; left:60%;
	position:absolute;
	z-index:2;
	-ms-transform: skewX(-30deg) rotate(120deg);
    -webkit-transform: skewX(-30deg) rotate(120deg);
    transform: skewX(-30deg) rotate(120deg);
	font-size:30px;
	}

@media (max-width: 1300px){
	.stripe{
		height:300px;
	}
	.outstripe{
		height:300px;
	}
	.ghostbutton{
		margin-top:70px;
	}
	.ghostbutton_back{
		margin-top:70px;
	}
}

@media (max-width: 680px){
	.ghostbutton{
		margin-left:32%;
		margin-top:70px;
	}
	.ghostbutton_back{
		margin-top:70px;
	}
	
 

}
