#bluecell{
	background-color:blue;
	font-size:20px;
    }

#title1{/*复制的网上渐变写法*/
	background-color: #063053;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.32, #063053), color-stop(0.66, #395873), color-stop(0.83, #5c7c99));
	/* chrome 10+, safari 5.1+ */
	background-image: -webkit-linear-gradient(#063053, #395873, #5c7c99);
	/* firefox; multiple color stops */
	background-image: -moz-linear-gradient(top,#063053, #395873, #5c7c99);
	/* ie 6+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873');
	/* ie8 + */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873')";
	/* ie10 */
	background-image: -ms-linear-gradient(#063053, #395873, #5c7c99);
	/* opera 11.1 */
	background-image: -o-linear-gradient(#063053, #395873, #5c7c99);
	/* 标准写法 */
	background-image: linear-gradient(#063053, #395873, #5c7c99);
	}
#title{/*自写测试*/
	background-image: linear-gradient(#4281CD, #85AAD6);
	font-size:20px;
	}
#titletext{color:#FFF;}
#table{width:90%;
	color:#FFF;
	margin-bottom:20px;
	font-weight:bold;
	}
#container{background-color:rgb(255, 255, 255);
           margin:0px,0px,0px,0px;
	}
#body{
	color:#FFF;
	width:100%;
	font-weight:bold;
}
#td{
padding-bottom:5px;
padding-top:5px;

}
#h1{
color:#FFF;
width:90%;
border:5px solid black;
font-weight:bold;
}
/*定义超链接样式*/
a:link { 
color:#FFF; 
text-decoration:none; 
font-weight:bold;
} 
a:visited { 
color:#FFF; 
text-decoration:none;
font-weight:bold; 
} 
a:hover { 
color:#FFF; 
text-decoration:none;
font-weight:bold;  
} 
a:active { 
color:#FFF; 
text-decoration:none;
font-weight:bold;  
} 
